<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <ul class="nav nav-pills">
  <li role="presentation"><a href="#">Home</a></li>
  <li role="presentation"><%= link_to "Songs", songs_path %></li>
  <li role="presentation"><a href="#">Messages</a></li>
  <div class="nav navbar-nav navbar-right">
  	<% if user_signed_in? %>
  	<li><%= link_to current_user.email, edit_user_registration_path %></li>

  	<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
  	<% else %>
  		
  
  	<li role="presentation"><%= link_to "Sign In", new_user_session_path %></li>
  <li role="presentation" class="active"><%= link_to "Sign Up", new_user_registration_path %></li>
  <% end %>
  </div>
</ul>




</nav>

</head>
<body>

<div class="container"
<p></p>
<p></p>
<p></p>
<p>bbb</p>
<p>bbb</p>

	
<% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
<% if alert %><div class="alert alert-info"><%= alert %></div><% end %>

<%= yield %>
</div>

</body>
</html>
